.algorithm{
    border: 1px solid cyan;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 30px;    
    display: inline-block; /* Set display to inline-block */
    width: 350px; /* Adjust width to fit 5 divs side by side */
    vertical-align: top;
    height: 230px;
    background-color: rgba(0, 255, 255, 0.081);
}

.algorithm h2{
    color: #8BE3F3;
}

.h1{
    color: white;
}